# Compiled class files
*.class

test-output/
target/
*.log


# Log files
logs/
*.log.gz


# Package files
*.jar
*.war
*.ear

# Maven / Gradle
build/

# Eclipse / IntelliJ / VS Code
*.iml
.idea/
.vscode/
.project
.classpath
.settings/


# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env


# Selenium screenshots
screenshots/

target/
allure-results/
allure-report/
